body, html, h3 {
  font-family: "calibri" !important;
}
body, html {
  color: #333;
}

.m-l-25per {
  margin-left: 25%;
}
.w-50per {
  width: 50%;
}

.fz13 {
  font-size: 13px;
}
.fz12 {
  font-size: 12px;
}

.float-left {
  float: left;
}

/* Loading Spinner */
.spinner {
  margin: 0;
  width: 70px;
  height: 18px;
  margin: -35px 0 0 -9px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s
}

.spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0)
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0)
  }
}

/* top-bar */
.top-bar {
  padding: 5px 0 0 0;
}

/* header menu */
.header-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-menu li {
  float: left;
}
.header-menu li a {
  display: block;
  padding-left: 30px;
  padding-top: 7px;
  font-size: 16px;
}

/* search */
div#centerDiv {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
ul.centerUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.centerUL li {
  display: inline;
  text-align: center;
  padding-left: 50px;
}

.hero-box-smaller {
  padding: 50px;
}

/* thump */
.thumb-heading {
  text-align: left;
  font-size: 14px;
  text-transform: none;
}
.thumb-heading-gms {
  text-align: center;
  font-size: 14px;
  text-transform: none;
}
.thumb-pane {
  padding: 20px;
}

.browse_all-link {
  padding-left: 10px;
  font-size: 14px;
  color: #8da0aa;
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid #dfe8f1;
}

.scrollable-content {
  height: 220px;
}

img.displayed {
  display: block;
  margin-left: auto;
  padding-right: 5px;
}

table.dataTable thead > tr > th {
  padding-right: 10px;
  padding-left: 10px;
}

.table {
  color: #3e4855;
}

.thumbnail-box {
  border: #dfe8f1 1px solid;
}

.tab-pane {
  padding: 0 15px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bottom-line {
  border-bottom: #C0504D 4px solid;
}
